<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uKey</key>
	<string>2140f4f3af4ef69776efb692e92f6395</string>
	<key>apiKey</key>
	<string>f8daeb0fef1b5e143708ee75b6c767b7</string>
</dict>
</plist>
